<div class = 'row tb-pad-m'>
    <div class = 'small-3 columns'>
        <%= link_to "Управление альбомами", albums_path %>
    </div>
    <div class = 'small-3 columns'>
        <%= link_to "Управление фотографиями", photos_path %>
    </div>
    <div class = 'small-3 columns'>
        <%= link_to 'Управление категориями', categories_path %>
    </div>
    <div class = 'small-3 columns'>
        <%= link_to 'Управление пользователями', users_path %>
    </div>
</div>