<%= render "slider" %>
<%= render "categories/cat_badged_list" %>
<div class = 'c-box-lgray'>
    <div class = 'tb-pad-m' style = 'padding-bottom: 70px;'>
        <div class = 'row'>
            <div class = 'small-12 columns tb-pad-m' style = 'text-align: center;'>
                <h3>
                    <%= t :last_albums %>
                </h3>
            </div>
        </div>
        <%= render "albums/albums_list" %>
    </div>
</div>
