<div class = 'row'>
    <div class = 'small-12 columns'>
        <h3><i class='fi-prohibited'></i> <%= t :page_not_found_message %></h3>
        <img src = '/files/fox_err.jpg' class = 'float-center'>
    </div>
</div>