<!DOCTYPE html>
<html>
    <head>
        <title>
            Kozvonin Roman 
        </title>
		<link media="all" rel="stylesheet" type = "text/css" href = "/files/please_wait.css" />
		<script type = "text/javascript" src = "/files/please_wait.js"  ></script>
		<script type = "text/javascript">
			$(document).ready(function(){initTiles(); myFunctions();});
		</script>
    </head>
	<body>
		<div style = "z-index: 3; opacity: 1.0;" class = "background-wrapper" id = "bg_1"></div>
		<div style = "z-index: 2; opacity: 0.0;" class = "background-wrapper" id = "bg_2"></div>
		<div style = "z-index: 1; opacity: 0.0;" class = "background-wrapper" id = "bg_3"></div>
		<div id = "wrapper">
<!-- 			<div id = "header">
			</div>
			<div id = "middle">
				<div id = "contentWrapper">
					
				</div>
			</div>
			<div id = "footer">
			</div> -->
			<div style = "display: none;" id = "indexTilesField">
				<div class = "section group">
					<div class = "col span_12_of_12">
						<a href = "#">
							<div class = "index-tile">
								<p>
									В неторопливой разработке...
								</p>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>