<div class = 'row'>
    <div class = 'small-12 columns'>
        <%= link_to 'Вернуться к альбому', @album %> |
        <%= link_to 'К списку альбомов', albums_path %>
    </div>
</div>

<%= render 'form' %>

