/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self

 */

$global-width: 1000px;
@import "foundation-sites";
@import "motion-ui";
@import "_settings";

@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-thumbnail;
@include foundation-menu;
@include foundation-top-bar;
@include foundation-dropdown-menu;
@include foundation-table;
@include foundation-tabs;
@include foundation-badge;
@include foundation-orbit;
@include foundation-reveal;
@include foundation-close-button;

@mixin my_opacity($t){opacity: $t;filter: alpha(opacity=$t*100);-moz-opacity: $t;}
@mixin animation($t)
	{
	-webkit-transition-duration: $t;
    -o-transition-duration: $t;
    -moz-transition-duration: $t;
    transition-duration: $t;
	}
@mixin central_bl 
{
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.c-box
{
	position:relative;
	width: 100%;
}

.c-box-lgray
{
	@extend .c-box;
	background-color: $light-gray;
}
.c-box-dgray
{
	@extend .c-box;
	background-color: $dark-gray;
}
.tb-pad-s
{
	padding: 0.5rem 0 0.5rem 0;
}
.tb-pad-m
{
	padding: 1.5rem 0 1.5rem 0;
}
.tb-pad-l
{
	padding: 5rem 0 3rem 0;
}
#middle
{
    min-height: 300px;
}
#footer
{
    position: relative;
    width: 100%;
    height: 130px;
    background-color: $black;
}

/*social icons*/
#contacts-title
{
    position: relative;
    top: 25px;
    color: $white;
    //padding-left:28px;
}
#social-list
{
    display: block;
    position: relative;
    color: $white;
    padding-left: 0;
    top: 25px;
    margin: 0;
    li{display: inline-block; width: 50px; height:50px; padding-right: 10px; }
}
.social-icons
{
    position: absolute;
    width: 50px;
    height: 50px;
    top:0px;
}
.normal
{
    z-index: 100;
}
.normal:hover {@include my_opacity(0.0);}
.hovered
{
    z-index: 99;
}

/*social icons end*/

/* MyTextformat */
.text-dg
{
    color: $dark-gray;
}
