// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "application";
@mixin animation($t)
	{
	-webkit-transition-duration: $t;
    -o-transition-duration: $t;
    -moz-transition-duration: $t;
    transition-duration: $t;
	}
#c-list-wrapper
{
    @include central_bl;
    
}
#c-list
{
    list-style: none;
    position: relative;
    a {color: $dark-gray;}
    li:hover
    {
        color: $medium-gray;
        .c-badge 
        {
            background-color: $medium-gray;
        }
    }
    li 
    {
        cursor: pointer;
        display: inline-block;
        text-align: center;
        padding-top: 2em;
        padding-left: 2.5em;
        padding-right: 2.5em;
        width: 200px;
        p
        {
            padding-top: 0.5em;
        }
        @include animation(1600);
    }
    
}
.c-badge
{
    @extend .badge;
    //min-width: 5em;
    //min-height: 5em;
    font-size: 2.5em; 
}